<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.steateam.lets_team_server.mapper.AuthorizationInfoMapper">
  <resultMap id="BaseResultMap" type="cn.steateam.lets_team_server.entity.AuthorizationInfo">
    <!--@mbg.generated-->
    <!--@Table authorization_info-->
    <id column="au_id" property="id" />
    <result column="au_user_id" property="userId" />
    <result column="au_type" property="type" />
    <result column="au_account" property="account" />
    <result column="au_secondary_account" property="secondaryAccount" />
    <result column="au_cipher" property="cipher" />
    <result column="au_create_time" property="createTime" />
    <result column="au_update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    au_id, au_user_id, au_type, au_account, au_secondary_account, au_cipher, au_create_time, 
    au_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from authorization_info
    where au_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from authorization_info
    where au_id = #{id}
  </delete>
  <insert id="insert" keyColumn="au_id" keyProperty="id" parameterType="cn.steateam.lets_team_server.entity.AuthorizationInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into authorization_info (au_user_id, au_type, au_account, au_secondary_account, au_cipher, au_create_time, 
      au_update_time)
    values (#{userId}, #{type}, #{account}, #{secondaryAccount}, #{cipher}, #{createTime}, 
      #{updateTime})
  </insert>
  <insert id="insertSelective" keyColumn="au_id" keyProperty="id" parameterType="cn.steateam.lets_team_server.entity.AuthorizationInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into authorization_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        au_user_id,
      </if>
      <if test="type != null">
        au_type,
      </if>
      <if test="account != null">
        au_account,
      </if>
      <if test="secondaryAccount != null">
        au_secondary_account,
      </if>
      <if test="cipher != null">
        au_cipher,
      </if>
      <if test="createTime != null">
        au_create_time,
      </if>
      <if test="updateTime != null">
        au_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="account != null">
        #{account},
      </if>
      <if test="secondaryAccount != null">
        #{secondaryAccount},
      </if>
      <if test="cipher != null">
        #{cipher},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.steateam.lets_team_server.entity.AuthorizationInfo">
    <!--@mbg.generated-->
    update authorization_info
    <set>
      <if test="userId != null">
        au_user_id = #{userId},
      </if>
      <if test="type != null">
        au_type = #{type},
      </if>
      <if test="account != null">
        au_account = #{account},
      </if>
      <if test="secondaryAccount != null">
        au_secondary_account = #{secondaryAccount},
      </if>
      <if test="cipher != null">
        au_cipher = #{cipher},
      </if>
      <if test="createTime != null">
        au_create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        au_update_time = #{updateTime},
      </if>
    </set>
    where au_id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.steateam.lets_team_server.entity.AuthorizationInfo">
    <!--@mbg.generated-->
    update authorization_info
    set au_user_id = #{userId},
      au_type = #{type},
      au_account = #{account},
      au_secondary_account = #{secondaryAccount},
      au_cipher = #{cipher},
      au_create_time = #{createTime},
      au_update_time = #{updateTime}
    where au_id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2021-02-14-->
  <select id="selectByUserIdAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from authorization_info
    where au_user_id=#{userId} and au_type=#{type}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-02-14-->
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from authorization_info
    where au_user_id=#{userId}
  </select>

<!--auto generated by MybatisCodeHelper on 2021-02-14-->
  <select id="selectByAccountAndType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from authorization_info
    where au_account=#{account} and au_type=#{type}
  </select>
</mapper>