<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.steateam.lets_team_server.mapper.ProjectHonorMapper">
  <resultMap id="BaseResultMap" type="cn.steateam.lets_team_server.entity.ProjectHonor">
    <!--@mbg.generated-->
    <!--@Table project_honor-->
    <id column="ph_id" property="id" />
    <result column="ph_project_id" property="projectId" />
    <result column="ph_name" property="name" />
    <result column="ph_type" property="type" />
    <result column="ph_acquiring_time" property="acquiringTime" />
    <result column="ph_create_time" property="createTime" />
    <result column="ph_update_time" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ph_id, ph_project_id, ph_name, ph_type, ph_acquiring_time, ph_create_time, ph_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from project_honor
    where ph_id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from project_honor
    where ph_id = #{id}
  </delete>
  <insert id="insert" keyColumn="ph_id" keyProperty="id" parameterType="cn.steateam.lets_team_server.entity.ProjectHonor" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_honor (ph_project_id, ph_name, ph_type, ph_acquiring_time, ph_create_time, ph_update_time
      )
    values (#{projectId}, #{name}, #{type}, #{acquiringTime}, #{createTime}, #{updateTime}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ph_id" keyProperty="id" parameterType="cn.steateam.lets_team_server.entity.ProjectHonor" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into project_honor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        ph_project_id,
      </if>
      <if test="name != null">
        ph_name,
      </if>
      <if test="type != null">
        ph_type,
      </if>
      <if test="acquiringTime != null">
        ph_acquiring_time,
      </if>
      <if test="createTime != null">
        ph_create_time,
      </if>
      <if test="updateTime != null">
        ph_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="acquiringTime != null">
        #{acquiringTime},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.steateam.lets_team_server.entity.ProjectHonor">
    <!--@mbg.generated-->
    update project_honor
    <set>
      <if test="projectId != null">
        ph_project_id = #{projectId},
      </if>
      <if test="name != null">
        ph_name = #{name},
      </if>
      <if test="type != null">
        ph_type = #{type},
      </if>
      <if test="acquiringTime != null">
        ph_acquiring_time = #{acquiringTime},
      </if>
      <if test="createTime != null">
        ph_create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        ph_update_time = #{updateTime},
      </if>
    </set>
    where ph_id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.steateam.lets_team_server.entity.ProjectHonor">
    <!--@mbg.generated-->
    update project_honor
    set ph_project_id = #{projectId},
      ph_name = #{name},
      ph_type = #{type},
      ph_acquiring_time = #{acquiringTime},
      ph_create_time = #{createTime},
      ph_update_time = #{updateTime}
    where ph_id = #{id}
  </update>
  <resultMap id="VoResultMap" type="cn.steateam.lets_team_server.vo.ProjectHonorVo">
    <id column="ph_id" property="id" />
    <result column="ph_project_id" property="projectId" />
    <result column="ph_name" property="name" />
    <result column="ph_type" property="type" />
    <result column="ph_acquiring_time" property="acquiringTime" />
  </resultMap>

<!--auto generated by MybatisCodeHelper on 2021-03-10-->
  <select id="selectByProjectId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from project_honor
        where ph_project_id=#{projectId}
    </select>

  <select id="selectVoByProjectId" resultMap="VoResultMap">
    select
    <include refid="Base_Column_List" />
    from project_honor
    where ph_project_id=#{projectId}
  </select>
</mapper>